In [1]:
import numpy as np
import pandas as pd

In [2]:
col=['user_id','item_id','rating','timestamp']
col1=['item_id','title','date', "A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11", "A12", "A13", "A14", "A15", "A16", "A17", "A18", "A19", "A20", "A21"]
df= pd.read_csv('u.data',sep='\t',names=col)
movies = pd.read_csv('u.item', sep='|', encoding='latin-1',names=col1)

In [3]:
df=df.drop('timestamp', axis=1)

In [4]:
df.head()

   user_id  item_id  rating
0      196      242       3
1      186      302       3
2       22      377       1
3      244       51       2
4      166      346       1

In [5]:
df.groupby('user_id')['rating'].mean().sort_values(ascending=False).head()

user_id
849    4.869565
688    4.833333
507    4.724138
628    4.703704
928    4.687500
Name: rating, dtype: float64

In [6]:
df[df['item_id'] == 1]

       user_id  item_id  rating
24         308        1       4
454        287        1       5
957        148        1       4
971        280        1       4
1324        66        1       3
...        ...      ...     ...
99423      895        1       4
99445      747        1       5
99631      786        1       4
99704      800        1       4
99941      593        1       3

[452 rows x 3 columns]

In [7]:
movies.head()

,item_id,title,date,A1,A2,A3,A4,A5,A6,A7,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
movies.head()

,item_id,title,date,A1,A2,A3,A4,A5,A6,A7,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
movies.head()

,item_id,title,date,A1,A2,A3,A4,A5,A6,A7,...,A12,A13,A14,A15,A16,A17,A18,A19,A20,A21
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
new_dataset = movies[['item_id', 'title']].copy()

In [11]:
new_dataset

      item_id                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [12]:
df['item_id'].nunique()

1682

In [13]:
df=pd.merge(df,new_dataset,on='item_id')

In [14]:
df.head()

   user_id  item_id  rating         title
0      196      242       3  Kolya (1996)
1       63      242       3  Kolya (1996)
2      226      242       5  Kolya (1996)
3      154      242       3  Kolya (1996)
4      306      242       5  Kolya (1996)

In [15]:
df.sort_values('item_id',ascending=True)

       user_id  item_id  rating                                      title
3732       805        1       4                           Toy Story (1995)
3759       124        1       3                           Toy Story (1995)
3760       882        1       5                           Toy Story (1995)
3761       779        1       4                           Toy Story (1995)
3762       542        1       4                           Toy Story (1995)
...        ...      ...     ...                                        ...
99958      863     1678       1                          Mat' i syn (1997)
99938      863     1679       3                           B. Monkey (1998)
99965      863     1680       2                       Sliding Doors (1998)
99984      896     1681       3                        You So Crazy (1994)
99994      916     1682       3  Scream of Stone (Schrei aus Stein) (1991)

[100000 rows x 4 columns]

In [16]:
mean_man=df.groupby('item_id')['rating'].mean()

In [17]:
item=df.item_id

In [40]:
new_item={}
i=1
for old in mean_man:
    new_item[i]=old
    i+=1

In [41]:
new_item

{1: 3.8783185840707963,
 2: 3.2061068702290076,
 3: 3.033333333333333,
 4: 3.550239234449761,
 5: 3.302325581395349,
 6: 3.576923076923077,
 7: 3.798469387755102,
 8: 3.9954337899543377,
 9: 3.8963210702341136,
 10: 3.831460674157303,
 11: 3.847457627118644,
 12: 4.385767790262173,
 13: 3.4184782608695654,
 14: 3.9672131147540983,
 15: 3.7781569965870307,
 16: 3.2051282051282053,
 17: 3.119565217391304,
 18: 2.8,
 19: 3.9565217391304346,
 20: 3.4166666666666665,
 21: 2.761904761904762,
 22: 4.151515151515151,
 23: 4.1208791208791204,
 24: 3.4482758620689653,
 25: 3.4436860068259385,
 26: 3.452054794520548,
 27: 3.1052631578947367,
 28: 3.931159420289855,
 29: 2.6666666666666665,
 30: 3.945945945945946,
 31: 3.6298701298701297,
 32: 3.7901234567901234,
 33: 3.4536082474226806,
 34: 2.7142857142857144,
 35: 2.1818181818181817,
 36: 2.1538461538461537,
 37: 2.25,
 38: 3.0083333333333333,
 39: 3.264367816091954,
 40: 2.8947368421052633,
 41: 3.081081081081081,
 42: 3.804054054054054,
 43: 3.0,
 44: 3.3417721518987342,
 45: 4.05,
 46: 3.5555555555555554,
 47: 3.601503759398496,
 48: 4.094017094017094,
 49: 3.3209876543209877,
 50: 4.3584905660377355,
 51: 3.45679012345679,
 52: 3.769230769230769,
 53: 2.953125,
 54: 3.2403846153846154,
 55: 3.704697986577181,
 56: 4.060913705583756,
 57: 4.0,
 58: 3.645714285714286,
 59: 4.0602409638554215,
 60: 4.015625,
 61: 3.864406779661017,
 62: 3.141732283464567,
 63: 3.097560975609756,
 64: 4.445229681978798,
 65: 3.5391304347826087,
 66: 3.549382716049383,
 67: 3.0485436893203883,
 68: 3.417910447761194,
 69: 3.853582554517134,
 70: 3.6613545816733066,
 71: 3.7818181818181817,
 72: 3.193798449612403,
 73: 3.46875,
 74: 3.0,
 75: 3.0,
 76: 3.4074074074074074,
 77: 3.2781456953642385,
 78: 2.4545454545454546,
 79: 4.044642857142857,
 80: 2.764705882352941,
 81: 3.5545454545454547,
 82: 3.7203065134099615,
 83: 4.0625,
 84: 3.0,
 85: 3.0344827586206895,
 86: 3.94,
 87: 3.9057971014492754,
 88: 3.539906103286385,
 89: 4.138181818181818,
 90: 3.0526315789473686,
 91: 3.5874125874125875,
 92: 3.6153846153846154,
 93: 3.7232142857142856,
 94: 3.0875912408759123,
 95: 3.8127853881278537,
 96: 4.0067796610169495,
 97: 3.79296875,
 98: 4.28974358974359,
 99: 3.7093023255813953,
 100: 4.155511811023622,
 101: 3.26027397260274,
 102: 3.1296296296296298,
 103: 1.8666666666666667,
 104: 1.4,
 105: 2.5675675675675675,
 106: 2.887323943661972,
 107: 3.5,
 108: 3.076923076923077,
 109: 3.4307692307692306,
 110: 2.5161290322580645,
 111: 3.485294117647059,
 112: 2.45,
 113: 4.111111111111111,
 114: 4.447761194029851,
 115: 3.7333333333333334,
 116: 3.824,
 117: 3.693121693121693,
 118: 3.2150170648464163,
 119: 4.5,
 120: 2.2388059701492535,
 121: 3.438228438228438,
 122: 2.339622641509434,
 123: 3.234782608695652,
 124: 4.053475935828877,
 125: 3.557377049180328,
 126: 3.804123711340206,
 127: 4.283292978208232,
 128: 3.5384615384615383,
 129: 3.8217054263565893,
 130: 2.260869565217391,
 131: 3.7263157894736842,
 132: 4.0772357723577235,
 133: 3.871345029239766,
 134: 4.292929292929293,
 135: 3.969111969111969,
 136: 4.123809523809523,
 137: 3.9005847953216373,
 138: 2.5789473684210527,
 139: 2.78,
 140: 3.2131147540983607,
 141: 3.5,
 142: 3.0701754385964914,
 143: 3.765765765765766,
 144: 3.8724279835390947,
 145: 2.4461538461538463,
 146: 2.5,
 147: 3.4702702702702704,
 148: 3.203125,
 149: 3.0,
 150: 3.828025477707006,
 151: 3.6319018404907975,
 152: 3.6341463414634148,
 153: 3.785425101214575,
 154: 3.7471264367816093,
 155: 3.1020408163265305,
 156: 3.9864864864864864,
 157: 3.6929133858267718,
 158: 2.6166666666666667,
 159: 3.227722772277228,
 160: 3.463768115942029,
 161: 3.481818181818182,
 162: 3.556603773584906,
 163: 3.5543478260869565,
 164: 3.589403973509934,
 165: 4.109375,
 166: 4.120689655172414,
 167: 2.955223880597015,
 168: 4.0664556962025316,
 169: 4.466101694915254,
 170: 4.1735537190082646,
 171: 3.876923076923077,
 172: 4.204359673024523,
 173: 4.172839506172839,
 174: 4.252380952380952,
 175: 3.8173076923076925,
 176: 3.9471830985915495,
 177: 3.8613138686131387,
 178: 4.344,
 179: 3.909502262443439,
 180: 4.04524886877828,
 181: 4.007889546351085,
 182: 3.9513274336283186,
 183: 4.034364261168385,
 184: 3.4310344827586206,
 185: 4.100418410041841,
 186: 3.8366533864541834,
 187: 4.186602870813397,
 188: 3.6823529411764704,
 189: 4.106060606060606,
 190: 4.137096774193548,
 191: 4.163043478260869,
 192: 4.120689655172414,
 193: 3.917197452229299,
 194: 4.058091286307054,
 195: 3.9335548172757475,
 196: 3.9163346613545817,
 197: 4.104602510460251,
 198: 4.0078740157480315,
 199: 4.175757575757576,
 200: 3.825242718446602,
 201: 3.5168539325842696,
 202: 3.7642857142857142,
 203: 3.868131868131868,
 204: 3.834285714285714,
 205: 3.9926470588235294,
 206: 3.38,
 207: 3.8181818181818183,
 208: 3.945,
 209: 3.905759162303665,
 210: 3.930513595166163,
 211: 3.912621359223301,
 212: 3.4565217391304346,
 213: 3.985074626865672,
 214: 3.3508771929824563,
 215: 3.69811320754717,
 216: 3.910344827586207,
 217: 3.158333333333333,
 218: 3.456140350877193,
 219: 3.171171171171171,
 220: 3.3636363636363638,
 221: 3.72972972972973,
 222: 3.66027397260274,
 223: 4.198529411764706,
 224: 3.7045454545454546,
 225: 2.908256880733945,
 226: 3.355421686746988,
 227: 3.279503105590062,
 228: 3.8155737704918034,
 229: 3.111111111111111,
 230: 3.4472361809045227,
 231: 2.683098591549296,
 232: 3.207920792079208,
 233: 3.2903225806451615,
 234: 3.775,
 235: 2.847926267281106,
 236: 3.6222222222222222,
 237: 3.7109375,
 238: 3.875,
 239: 3.513333333333333,
 240: 2.7884615384615383,
 241: 3.546875,
 242: 3.9914529914529915,
 243: 2.4393939393939394,
 244: 3.1666666666666665,
 245: 3.1083333333333334,
 246: 3.935483870967742,
 247: 1.8,
 248: 3.675,
 249: 3.246153846153846,
 250: 3.4771573604060912,
 251: 4.260869565217392,
 252: 2.9430379746835444,
 253: 3.6923076923076925,
 254: 2.4516129032258065,
 255: 3.36046511627907,
 256: 3.5625,
 257: 3.745874587458746,
 258: 3.8035363457760316,
 259: 2.685185185185185,
 260: 2.574803149606299,
 261: 2.558139534883721,
 262: 3.712121212121212,
 263: 2.1578947368421053,
 264: 2.742574257425743,
 265: 3.8634361233480177,
 266: 2.7142857142857144,
 267: 3.4444444444444446,
 268: 3.792156862745098,
 269: 3.926984126984127,
 270: 3.5955882352941178,
 271: 3.2322274881516586,
 272: 4.262626262626263,
 273: 3.569506726457399,
 274: 3.5,
 275: 4.0111940298507465,
 276: 3.697986577181208,
 277: 3.464788732394366,
 278: 3.2333333333333334,
 279: 3.2857142857142856,
 280: 3.1882352941176473,
 281: 3.143835616438356,
 282: 3.685344827586207,
 283: 3.7175141242937855,
 284: 3.160621761658031,
 285: 4.265432098765432,
 286: 3.656964656964657,
 287: 3.58974358974359,
 288: 3.4414225941422596,
 289: 2.9806949806949805,
 290: 3.1145833333333335,
 291: 3.37007874015748,
 292: 3.6666666666666665,
 293: 3.802721088435374,
 294: 3.156701030927835,
 295: 3.4025974025974026,
 296: 3.3333333333333335,
 297: 3.96,
 298: 3.768041237113402,
 299: 2.9315068493150687,
 300: 3.6310904872389793,
 301: 3.3043478260869565,
 302: 4.161616161616162,
 303: 3.6865671641791047,
 304: 3.5369127516778525,
 305: 3.6436781609195403,
 306: 3.9479166666666665,
 307: 3.515957446808511,
 308: 2.966666666666667,
 309: 2.857142857142857,
 310: 3.6,
 311: 3.68,
 312: 3.1625,
 313: 4.2457142857142856,
 314: 1.0,
 315: 4.1,
 316: 4.196428571428571,
 317: 3.911764705882353,
 318: 4.466442953020135,
 319: 3.2738095238095237,
 320: 4.05,
 321: 3.1301775147928996,
 322: 3.0871559633027523,
 323: 2.933333333333333,
 324: 3.136,
 325: 2.546875,
 326: 3.36,
 327: 3.3771428571428572,
 328: 3.4237288135593222,
 329: 3.3333333333333335,
 330: 3.024390243902439,
 331: 3.5398230088495577,
 332: 3.4615384615384617,
 333: 3.593625498007968,
 334: 3.359375,
 335: 2.761904761904762,
 336: 2.627906976744186,
 337: 3.0,
 338: 2.659340659340659,
 339: 3.25531914893617,
 340: 3.5873015873015874,
 341: 3.090909090909091,
 342: 2.923076923076923,
 343: 3.096774193548387,
 344: 3.6545454545454548,
 345: 3.4,
 346: 3.642857142857143,
 347: 3.510948905109489,
 348: 3.2962962962962963,
 349: 2.903225806451613,
 350: 3.1463414634146343,
 351: 2.7,
 352: 2.1153846153846154,
 353: 2.4285714285714284,
 354: 3.486111111111111,
 355: 2.926829268292683,
 356: 3.381443298969072,
 357: 4.291666666666667,
 358: 2.6153846153846154,
 359: 3.5,
 360: 3.2,
 361: 3.5,
 362: 2.8214285714285716,
 363: 2.723404255319149,
 364: 2.675675675675676,
 365: 3.2083333333333335,
 366: 3.3404255319148937,
 367: 3.458823529411765,
 368: 1.903225806451613,
 369: 2.6363636363636362,
 370: 2.8205128205128207,
 371: 3.1641791044776117,
 372: 3.5294117647058822,
 373: 2.8974358974358974,
 374: 2.272727272727273,
 375: 1.9565217391304348,
 376: 2.8333333333333335,
 377: 2.1538461538461537,
 378: 3.722772277227723,
 379: 2.9767441860465116,
 380: 3.336206896551724,
 381: 3.55,
 382: 3.5945945945945947,
 383: 2.064516129032258,
 384: 2.782608695652174,
 385: 3.5625,
 386: 2.8160919540229883,
 387: 3.3846153846153846,
 388: 2.392857142857143,
 389: 3.4444444444444446,
 390: 3.2,
 391: 2.7457627118644066,
 392: 3.5441176470588234,
 393: 3.4114583333333335,
 394: 3.3333333333333335,
 395: 2.5892857142857144,
 396: 2.814814814814815,
 397: 2.5833333333333335,
 398: 2.076923076923077,
 399: 3.303370786516854,
 400: 2.7222222222222223,
 401: 2.8026315789473686,
 402: 3.4647058823529413,
 403: 3.427860696517413,
 404: 3.6732673267326734,
 405: 3.313953488372093,
 406: 2.4489795918367347,
 407: 2.511627906976744,
 408: 4.491071428571429,
 409: 3.142857142857143,
 410: 3.1296296296296298,
 411: 2.914110429447853,
 412: 2.3978494623655915,
 413: 2.6363636363636362,
 414: 3.532258064516129,
 415: 2.84,
 416: 3.484375,
 417: 3.095890410958904,
 418: 3.5813953488372094,
 419: 3.7247191011235956,
 420: 3.6666666666666665,
 421: 3.5943396226415096,
 422: 2.8461538461538463,
 423: 3.8333333333333335,
 424: 1.3157894736842106,
 425: 3.7411764705882353,
 426: 2.84375,
 427: 4.292237442922374,
 428: 3.8181818181818183,
 429: 3.9381443298969074,
 430: 4.0,
 431: 3.5359477124183005,
 432: 3.7701149425287355,
 433: 3.690058479532164,
 434: 3.8358208955223883,
 435: 3.949074074074074,
 436: 3.5353535353535355,
 437: 1.0,
 438: 1.1666666666666667,
 439: 1.0,
 440: 1.6428571428571428,
 441: 2.5660377358490565,
 442: 1.25,
 443: 3.808641975308642,
 444: 2.717391304347826,
 445: 3.5,
 446: 2.4444444444444446,
 447: 3.5041322314049586,
 448: 3.388235294117647,
 449: 3.034188034188034,
 450: 2.3968253968253967,
 451: 3.347058823529412,
 452: 2.6666666666666665,
 453: 1.9375,
 454: 2.875,
 455: 3.2551724137931033,
 456: 2.3125,
 457: 1.7407407407407407,
 458: 3.1222222222222222,
 459: 3.75,
 460: 3.0,
 461: 3.6216216216216215,
 462: 3.804054054054054,
 463: 3.859154929577465,
 464: 3.5925925925925926,
 465: 3.5647058823529414,
 466: 3.5961538461538463,
 467: 3.7916666666666665,
 468: 3.3125,
 469: 3.7761194029850746,
 470: 3.6666666666666665,
 471: 3.6108597285067874,
 472: 3.0822784810126582,
 473: 3.126984126984127,
 474: 4.252577319587629,
 475: 3.884,
 476: 3.01875,
 477: 3.210526315789474,
 478: 4.115384615384615,
 479: 4.251396648044692,
 480: 4.284916201117318,
 481: 3.9365079365079363,
 482: 3.984375,
 483: 4.45679012345679,
 484: 4.2101449275362315,
 485: 3.816,
 486: 3.796875,
 487: 4.102941176470588,
 488: 4.2,
 489: 4.115384615384615,
 490: 4.02,
 491: 3.791044776119403,
 492: 3.864406779661017,
 493: 4.15,
 494: 4.0,
 495: 3.6610169491525424,
 496: 4.121212121212121,
 497: 3.838235294117647,
 498: 4.184210526315789,
 499: 3.9516129032258065,
 500: 3.903225806451613,
 501: 3.4959349593495936,
 502: 3.7017543859649122,
 503: 3.641025641025641,
 504: 3.819672131147541,
 505: 4.0,
 506: 3.8555555555555556,
 507: 3.816326530612245,
 508: 3.5953488372093023,
 509: 3.8512396694214877,
 510: 3.9421487603305785,
 511: 4.23121387283237,
 512: 4.0,
 513: 4.333333333333333,
 514: 3.911111111111111,
 515: 4.203980099502488,
 516: 3.9682539682539684,
 517: 3.769230769230769,
 518: 3.651685393258427,
 519: 4.1,
 520: 4.104838709677419,
 521: 3.8333333333333335,
 522: 3.7714285714285714,
 523: 3.9939024390243905,
 524: 4.021739130434782,
 525: 4.027397260273973,
 526: 3.8306451612903225,
 527: 4.02051282051282,
 528: 4.132231404958677,
 529: 3.978494623655914,
 530: 4.025,
 531: 3.9224806201550386,
 532: 3.3181818181818183,
 533: 3.6666666666666665,
 534: 3.3076923076923075,
 535: 3.1666666666666665,
 536: 3.3,
 537: 3.6333333333333333,
 538: 3.4242424242424243,
 539: 2.477272727272727,
 540: 2.511627906976744,
 541: 2.877551020408163,
 542: 2.5294117647058822,
 543: 3.619047619047619,
 544: 3.1549295774647885,
 545: 1.8333333333333333,
 546: 3.031496062992126,
 547: 3.341463414634146,
 548: 2.1666666666666665,
 549: 3.5652173913043477,
 550: 3.2847682119205297,
 551: 2.4166666666666665,
 552: 2.8666666666666667,
 553: 3.2857142857142856,
 554: 2.803921568627451,
 555: 2.0,
 556: 2.5,
 557: 3.1176470588235294,
 558: 3.6714285714285713,
 559: 3.1824817518248176,
 560: 2.727272727272727,
 561: 3.0677966101694913,
 562: 3.2083333333333335,
 563: 2.413793103448276,
 564: 2.037037037037037,
 565: 2.6818181818181817,
 566: 3.569832402234637,
 567: 2.8,
 568: 3.6478260869565218,
 569: 2.701492537313433,
 570: 3.1,
 571: 2.5,
 572: 2.7586206896551726,
 573: 2.9393939393939394,
 574: 2.2,
 575: 2.5454545454545454,
 576: 3.021505376344086,
 577: 2.2195121951219514,
 578: 3.152173913043478,
 579: 2.6315789473684212,
 580: 3.375,
 581: 3.2203389830508473,
 582: 3.6011904761904763,
 583: 3.0,
 584: 3.5443037974683542,
 585: 2.4871794871794872,
 586: 2.676470588235294,
 587: 3.5714285714285716,
 588: 3.792079207920792,
 589: 4.023255813953488,
 590: 2.0,
 591: 3.601123595505618,
 592: 3.3333333333333335,
 593: 3.1666666666666665,
 594: 2.4,
 595: 3.09375,
 596: 3.377952755905512,
 597: 3.150485436893204,
 598: 2.25,
 599: 1.0,
 600: 3.0,
 601: 4.0,
 602: 3.7,
 603: 4.3875598086124405,
 604: 4.012345679012346,
 605: 3.3548387096774195,
 606: 4.045454545454546,
 607: 3.9696969696969697,
 608: 3.933333333333333,
 609: 3.5833333333333335,
 610: 3.658536585365854,
 611: 4.1,
 612: 3.9411764705882355,
 613: 4.037037037037037,
 614: 3.7450980392156863,
 615: 4.0508474576271185,
 616: 3.421875,
 617: 3.7777777777777777,
 618: 3.611111111111111,
 619: 3.171875,
 620: 3.0930232558139537,
 621: 2.909090909090909,
 622: 3.358974358974359,
 623: 2.923076923076923,
 624: 3.272727272727273,
 625: 3.3292682926829267,
 626: 3.25,
 627: 3.2266666666666666,
 628: 3.514792899408284,
 629: 3.3376623376623376,
 630: 3.2903225806451615,
 631: 3.6218487394957983,
 632: 3.896551724137931,
 633: 4.057971014492754,
 634: 3.75,
 635: 2.739130434782609,
 636: 3.241758241758242,
 637: 3.026315789473684,
 638: 3.772727272727273,
 639: 3.7,
 640: 3.024390243902439,
 641: 4.212121212121212,
 642: 3.4831460674157304,
 643: 3.0,
 644: 3.7714285714285714,
 645: 3.814814814814815,
 646: 3.8684210526315788,
 647: 4.1,
 648: 4.029850746268656,
 649: 3.4,
 650: 3.5416666666666665,
 651: 4.076023391812866,
 652: 3.888888888888889,
 653: 3.911764705882353,
 654: 4.136054421768708,
 655: 3.881057268722467,
 656: 4.0,
 657: 4.259541984732825,
 658: 3.4177215189873418,
 659: 4.078260869565217,
 660: 3.764705882352941,
 661: 4.1022727272727275,
 662: 3.426829268292683,
 663: 3.9051724137931036,
 664: 3.5434782608695654,
 665: 2.83,
 666: 2.4,
 667: 2.1666666666666665,
 668: 2.1666666666666665,
 669: 1.6153846153846154,
 670: 3.0,
 671: 3.608695652173913,
 672: 2.723076923076923,
 673: 3.5232558139534884,
 674: 2.8958333333333335,
 675: 3.5555555555555554,
 676: 3.3376623376623376,
 677: 3.0,
 678: 2.808219178082192,
 679: 3.046728971962617,
 680: 2.5588235294117645,
 681: 2.4444444444444446,
 682: 3.06,
 683: 2.4081632653061225,
 684: 3.7928994082840237,
 685: 3.356687898089172,
 686: 3.68,
 687: 2.1884057971014492,
 688: 1.8409090909090908,
 689: 3.1494252873563218,
 690: 3.458064516129032,
 691: 3.5,
 692: 3.6280487804878048,
 693: 3.6483516483516483,
 694: 4.045454545454546,
 695: 2.923076923076923,
 696: 3.1392405063291138,
 697: 3.425,
 698: 3.0,
 699: 3.676470588235294,
 700: 2.6,
 701: 4.0,
 702: 3.018867924528302,
 703: 3.5789473684210527,
 704: 3.0416666666666665,
 705: 3.9927007299270074,
 706: 2.6666666666666665,
 707: 3.9285714285714284,
 708: 3.4752475247524752,
 709: 4.028846153846154,
 710: 3.569620253164557,
 711: 4.0,
 712: 3.0784313725490198,
 713: 3.611111111111111,
 714: 3.230769230769231,
 715: 3.2758620689655173,
 716: 3.1551724137931036,
 717: 2.817073170731707,
 718: 3.6875,
 719: 2.413793103448276,
 720: 3.0232558139534884,
 721: 3.4444444444444446,
 722: 2.9310344827586206,
 723: 3.1470588235294117,
 724: 3.486842105263158,
 725: 2.75,
 726: 2.4285714285714284,
 727: 3.4603174603174605,
 728: 3.022222222222222,
 729: 3.4814814814814814,
 730: 3.5,
 731: 3.1538461538461537,
 732: 3.65,
 733: 3.2,
 734: 2.5185185185185186,
 735: 3.854014598540146,
 736: 3.9358974358974357,
 737: 2.983050847457627,
 738: 2.838709677419355,
 739: 3.323170731707317,
 740: 3.4761904761904763,
 741: 3.4482758620689653,
 742: 3.644194756554307,
 743: 1.9487179487179487,
 744: 3.4565217391304346,
 745: 3.875,
 746: 3.6638655462184873,
 747: 3.4607843137254903,
 748: 3.1234177215189876,
 749: 3.176470588235294,
 750: 3.8548387096774195,
 751: 3.4277777777777776,
 752: 3.3076923076923075,
 753: 3.7083333333333335,
 754: 3.3859649122807016,
 755: 3.3125,
 756: 2.8984375,
 757: 2.75,
 758: 1.7142857142857142,
 759: 2.1818181818181817,
 760: 2.652173913043478,
 761: 3.0454545454545454,
 762: 3.391304347826087,
 763: 3.389261744966443,
 764: 2.7586206896551726,
 765: 2.8125,
 766: 3.111111111111111,
 767: 2.1818181818181817,
 768: 3.076923076923077,
 769: 2.4523809523809526,
 770: 3.3859649122807016,
 771: 2.6341463414634148,
 772: 3.061224489795918,
 773: 2.9411764705882355,
 774: 2.9375,
 775: 2.769230769230769,
 776: 3.2222222222222223,
 777: 1.25,
 778: 3.5526315789473686,
 779: 2.5483870967741935,
 780: 3.0,
 781: 3.3333333333333335,
 782: 2.6,
 783: 2.72972972972973,
 784: 1.0,
 785: 3.1538461538461537,
 786: 2.642857142857143,
 787: 3.230769230769231,
 788: 1.6666666666666667,
 789: 3.574468085106383,
 790: 2.909090909090909,
 791: 2.5,
 792: 3.7209302325581395,
 793: 3.5,
 794: 3.652173913043478,
 795: 2.4285714285714284,
 796: 3.0833333333333335,
 797: 3.096774193548387,
 798: 2.2222222222222223,
 799: 3.2,
 800: 2.8846153846153846,
 801: 2.8125,
 802: 2.7,
 803: 2.5555555555555554,
 804: 2.875,
 805: 3.6296296296296298,
 806: 3.46,
 807: 2.7777777777777777,
 808: 2.838709677419355,
 809: 2.9069767441860463,
 810: 2.888888888888889,
 811: 3.9444444444444446,
 812: 3.111111111111111,
 813: 3.892857142857143,
 814: 5.0,
 815: 3.232142857142857,
 816: 2.4285714285714284,
 817: 2.6666666666666665,
 818: 2.76,
 819: 2.7,
 820: 2.774193548387097,
 821: 3.0454545454545454,
 822: 3.0,
 823: 2.8780487804878048,
 824: 2.7551020408163267,
 825: 3.036144578313253,
 826: 2.575,
 827: 2.7719298245614037,
 828: 2.6923076923076925,
 829: 2.6470588235294117,
 830: 1.0,
 831: 2.4615384615384617,
 832: 2.5454545454545454,
 833: 3.204081632653061,
 834: 2.2,
 835: 3.8666666666666667,
 836: 3.769230769230769,
 837: 3.92,
 838: 2.75,
 839: 2.5,
 840: 2.660377358490566,
 841: 2.75,
 842: 3.1481481481481484,
 843: 3.0,
 844: 3.357142857142857,
 845: 3.465909090909091,
 846: 3.0681818181818183,
 847: 3.727272727272727,
 848: 3.5555555555555554,
 849: 2.7169811320754715,
 850: 4.0,
 851: 3.75,
 852: 1.0,
 853: 3.857142857142857,
 854: 3.375,
 855: 3.727272727272727,
 856: 3.8333333333333335,
 857: 3.0,
 858: 1.0,
 859: 2.6666666666666665,
 860: 2.25,
 861: 2.3333333333333335,
 862: 2.111111111111111,
 863: 3.9166666666666665,
 864: 3.1627906976744184,
 865: 3.4761904761904763,
 866: 3.319327731092437,
 867: 4.0,
 868: 3.8,
 869: 3.0,
 870: 2.7777777777777777,
 871: 2.4,
 872: 3.0952380952380953,
 873: 2.962962962962963,
 874: 3.2564102564102564,
 875: 2.7358490566037736,

In [24]:
mean_man.describe

<bound method NDFrame.describe of item_id
1       3.878319
2       3.206107
3       3.033333
4       3.550239
5       3.302326
          ...
1678    1.000000
1679    3.000000
1680    2.000000
1681    3.000000
1682    3.000000
Name: rating, Length: 1682, dtype: float64>

In [26]:
mean_man.to_dict()

{1: 3.8783185840707963,
 2: 3.2061068702290076,
 3: 3.033333333333333,
 4: 3.550239234449761,
 5: 3.302325581395349,
 6: 3.576923076923077,
 7: 3.798469387755102,
 8: 3.9954337899543377,
 9: 3.8963210702341136,
 10: 3.831460674157303,
 11: 3.847457627118644,
 12: 4.385767790262173,
 13: 3.4184782608695654,
 14: 3.9672131147540983,
 15: 3.7781569965870307,
 16: 3.2051282051282053,
 17: 3.119565217391304,
 18: 2.8,
 19: 3.9565217391304346,
 20: 3.4166666666666665,
 21: 2.761904761904762,
 22: 4.151515151515151,
 23: 4.1208791208791204,
 24: 3.4482758620689653,
 25: 3.4436860068259385,
 26: 3.452054794520548,
 27: 3.1052631578947367,
 28: 3.931159420289855,
 29: 2.6666666666666665,
 30: 3.945945945945946,
 31: 3.6298701298701297,
 32: 3.7901234567901234,
 33: 3.4536082474226806,
 34: 2.7142857142857144,
 35: 2.1818181818181817,
 36: 2.1538461538461537,
 37: 2.25,
 38: 3.0083333333333333,
 39: 3.264367816091954,
 40: 2.8947368421052633,
 41: 3.081081081081081,
 42: 3.804054054054054,
 43: 3.0,
 44: 3.3417721518987342,
 45: 4.05,
 46: 3.5555555555555554,
 47: 3.601503759398496,
 48: 4.094017094017094,
 49: 3.3209876543209877,
 50: 4.3584905660377355,
 51: 3.45679012345679,
 52: 3.769230769230769,
 53: 2.953125,
 54: 3.2403846153846154,
 55: 3.704697986577181,
 56: 4.060913705583756,
 57: 4.0,
 58: 3.645714285714286,
 59: 4.0602409638554215,
 60: 4.015625,
 61: 3.864406779661017,
 62: 3.141732283464567,
 63: 3.097560975609756,
 64: 4.445229681978798,
 65: 3.5391304347826087,
 66: 3.549382716049383,
 67: 3.0485436893203883,
 68: 3.417910447761194,
 69: 3.853582554517134,
 70: 3.6613545816733066,
 71: 3.7818181818181817,
 72: 3.193798449612403,
 73: 3.46875,
 74: 3.0,
 75: 3.0,
 76: 3.4074074074074074,
 77: 3.2781456953642385,
 78: 2.4545454545454546,
 79: 4.044642857142857,
 80: 2.764705882352941,
 81: 3.5545454545454547,
 82: 3.7203065134099615,
 83: 4.0625,
 84: 3.0,
 85: 3.0344827586206895,
 86: 3.94,
 87: 3.9057971014492754,
 88: 3.539906103286385,
 89: 4.138181818181818,
 90: 3.0526315789473686,
 91: 3.5874125874125875,
 92: 3.6153846153846154,
 93: 3.7232142857142856,
 94: 3.0875912408759123,
 95: 3.8127853881278537,
 96: 4.0067796610169495,
 97: 3.79296875,
 98: 4.28974358974359,
 99: 3.7093023255813953,
 100: 4.155511811023622,
 101: 3.26027397260274,
 102: 3.1296296296296298,
 103: 1.8666666666666667,
 104: 1.4,
 105: 2.5675675675675675,
 106: 2.887323943661972,
 107: 3.5,
 108: 3.076923076923077,
 109: 3.4307692307692306,
 110: 2.5161290322580645,
 111: 3.485294117647059,
 112: 2.45,
 113: 4.111111111111111,
 114: 4.447761194029851,
 115: 3.7333333333333334,
 116: 3.824,
 117: 3.693121693121693,
 118: 3.2150170648464163,
 119: 4.5,
 120: 2.2388059701492535,
 121: 3.438228438228438,
 122: 2.339622641509434,
 123: 3.234782608695652,
 124: 4.053475935828877,
 125: 3.557377049180328,
 126: 3.804123711340206,
 127: 4.283292978208232,
 128: 3.5384615384615383,
 129: 3.8217054263565893,
 130: 2.260869565217391,
 131: 3.7263157894736842,
 132: 4.0772357723577235,
 133: 3.871345029239766,
 134: 4.292929292929293,
 135: 3.969111969111969,
 136: 4.123809523809523,
 137: 3.9005847953216373,
 138: 2.5789473684210527,
 139: 2.78,
 140: 3.2131147540983607,
 141: 3.5,
 142: 3.0701754385964914,
 143: 3.765765765765766,
 144: 3.8724279835390947,
 145: 2.4461538461538463,
 146: 2.5,
 147: 3.4702702702702704,
 148: 3.203125,
 149: 3.0,
 150: 3.828025477707006,
 151: 3.6319018404907975,
 152: 3.6341463414634148,
 153: 3.785425101214575,
 154: 3.7471264367816093,
 155: 3.1020408163265305,
 156: 3.9864864864864864,
 157: 3.6929133858267718,
 158: 2.6166666666666667,
 159: 3.227722772277228,
 160: 3.463768115942029,
 161: 3.481818181818182,
 162: 3.556603773584906,
 163: 3.5543478260869565,
 164: 3.589403973509934,
 165: 4.109375,
 166: 4.120689655172414,
 167: 2.955223880597015,
 168: 4.0664556962025316,
 169: 4.466101694915254,
 170: 4.1735537190082646,
 171: 3.876923076923077,
 172: 4.204359673024523,
 173: 4.172839506172839,
 174: 4.252380952380952,
 175: 3.8173076923076925,
 176: 3.9471830985915495,
 177: 3.8613138686131387,
 178: 4.344,
 179: 3.909502262443439,
 180: 4.04524886877828,
 181: 4.007889546351085,
 182: 3.9513274336283186,
 183: 4.034364261168385,
 184: 3.4310344827586206,
 185: 4.100418410041841,
 186: 3.8366533864541834,
 187: 4.186602870813397,
 188: 3.6823529411764704,
 189: 4.106060606060606,
 190: 4.137096774193548,
 191: 4.163043478260869,
 192: 4.120689655172414,
 193: 3.917197452229299,
 194: 4.058091286307054,
 195: 3.9335548172757475,
 196: 3.9163346613545817,
 197: 4.104602510460251,
 198: 4.0078740157480315,
 199: 4.175757575757576,
 200: 3.825242718446602,
 201: 3.5168539325842696,
 202: 3.7642857142857142,
 203: 3.868131868131868,
 204: 3.834285714285714,
 205: 3.9926470588235294,
 206: 3.38,
 207: 3.8181818181818183,
 208: 3.945,
 209: 3.905759162303665,
 210: 3.930513595166163,
 211: 3.912621359223301,
 212: 3.4565217391304346,
 213: 3.985074626865672,
 214: 3.3508771929824563,
 215: 3.69811320754717,
 216: 3.910344827586207,
 217: 3.158333333333333,
 218: 3.456140350877193,
 219: 3.171171171171171,
 220: 3.3636363636363638,
 221: 3.72972972972973,
 222: 3.66027397260274,
 223: 4.198529411764706,
 224: 3.7045454545454546,
 225: 2.908256880733945,
 226: 3.355421686746988,
 227: 3.279503105590062,
 228: 3.8155737704918034,
 229: 3.111111111111111,
 230: 3.4472361809045227,
 231: 2.683098591549296,
 232: 3.207920792079208,
 233: 3.2903225806451615,
 234: 3.775,
 235: 2.847926267281106,
 236: 3.6222222222222222,
 237: 3.7109375,
 238: 3.875,
 239: 3.513333333333333,
 240: 2.7884615384615383,
 241: 3.546875,
 242: 3.9914529914529915,
 243: 2.4393939393939394,
 244: 3.1666666666666665,
 245: 3.1083333333333334,
 246: 3.935483870967742,
 247: 1.8,
 248: 3.675,
 249: 3.246153846153846,
 250: 3.4771573604060912,
 251: 4.260869565217392,
 252: 2.9430379746835444,
 253: 3.6923076923076925,
 254: 2.4516129032258065,
 255: 3.36046511627907,
 256: 3.5625,
 257: 3.745874587458746,
 258: 3.8035363457760316,
 259: 2.685185185185185,
 260: 2.574803149606299,
 261: 2.558139534883721,
 262: 3.712121212121212,
 263: 2.1578947368421053,
 264: 2.742574257425743,
 265: 3.8634361233480177,
 266: 2.7142857142857144,
 267: 3.4444444444444446,
 268: 3.792156862745098,
 269: 3.926984126984127,
 270: 3.5955882352941178,
 271: 3.2322274881516586,
 272: 4.262626262626263,
 273: 3.569506726457399,
 274: 3.5,
 275: 4.0111940298507465,
 276: 3.697986577181208,
 277: 3.464788732394366,
 278: 3.2333333333333334,
 279: 3.2857142857142856,
 280: 3.1882352941176473,
 281: 3.143835616438356,
 282: 3.685344827586207,
 283: 3.7175141242937855,
 284: 3.160621761658031,
 285: 4.265432098765432,
 286: 3.656964656964657,
 287: 3.58974358974359,
 288: 3.4414225941422596,
 289: 2.9806949806949805,
 290: 3.1145833333333335,
 291: 3.37007874015748,
 292: 3.6666666666666665,
 293: 3.802721088435374,
 294: 3.156701030927835,
 295: 3.4025974025974026,
 296: 3.3333333333333335,
 297: 3.96,
 298: 3.768041237113402,
 299: 2.9315068493150687,
 300: 3.6310904872389793,
 301: 3.3043478260869565,
 302: 4.161616161616162,
 303: 3.6865671641791047,
 304: 3.5369127516778525,
 305: 3.6436781609195403,
 306: 3.9479166666666665,
 307: 3.515957446808511,
 308: 2.966666666666667,
 309: 2.857142857142857,
 310: 3.6,
 311: 3.68,
 312: 3.1625,
 313: 4.2457142857142856,
 314: 1.0,
 315: 4.1,
 316: 4.196428571428571,
 317: 3.911764705882353,
 318: 4.466442953020135,
 319: 3.2738095238095237,
 320: 4.05,
 321: 3.1301775147928996,
 322: 3.0871559633027523,
 323: 2.933333333333333,
 324: 3.136,
 325: 2.546875,
 326: 3.36,
 327: 3.3771428571428572,
 328: 3.4237288135593222,
 329: 3.3333333333333335,
 330: 3.024390243902439,
 331: 3.5398230088495577,
 332: 3.4615384615384617,
 333: 3.593625498007968,
 334: 3.359375,
 335: 2.761904761904762,
 336: 2.627906976744186,
 337: 3.0,
 338: 2.659340659340659,
 339: 3.25531914893617,
 340: 3.5873015873015874,
 341: 3.090909090909091,
 342: 2.923076923076923,
 343: 3.096774193548387,
 344: 3.6545454545454548,
 345: 3.4,
 346: 3.642857142857143,
 347: 3.510948905109489,
 348: 3.2962962962962963,
 349: 2.903225806451613,
 350: 3.1463414634146343,
 351: 2.7,
 352: 2.1153846153846154,
 353: 2.4285714285714284,
 354: 3.486111111111111,
 355: 2.926829268292683,
 356: 3.381443298969072,
 357: 4.291666666666667,
 358: 2.6153846153846154,
 359: 3.5,
 360: 3.2,
 361: 3.5,
 362: 2.8214285714285716,
 363: 2.723404255319149,
 364: 2.675675675675676,
 365: 3.2083333333333335,
 366: 3.3404255319148937,
 367: 3.458823529411765,
 368: 1.903225806451613,
 369: 2.6363636363636362,
 370: 2.8205128205128207,
 371: 3.1641791044776117,
 372: 3.5294117647058822,
 373: 2.8974358974358974,
 374: 2.272727272727273,
 375: 1.9565217391304348,
 376: 2.8333333333333335,
 377: 2.1538461538461537,
 378: 3.722772277227723,
 379: 2.9767441860465116,
 380: 3.336206896551724,
 381: 3.55,
 382: 3.5945945945945947,
 383: 2.064516129032258,
 384: 2.782608695652174,
 385: 3.5625,
 386: 2.8160919540229883,
 387: 3.3846153846153846,
 388: 2.392857142857143,
 389: 3.4444444444444446,
 390: 3.2,
 391: 2.7457627118644066,
 392: 3.5441176470588234,
 393: 3.4114583333333335,
 394: 3.3333333333333335,
 395: 2.5892857142857144,
 396: 2.814814814814815,
 397: 2.5833333333333335,
 398: 2.076923076923077,
 399: 3.303370786516854,
 400: 2.7222222222222223,
 401: 2.8026315789473686,
 402: 3.4647058823529413,
 403: 3.427860696517413,
 404: 3.6732673267326734,
 405: 3.313953488372093,
 406: 2.4489795918367347,
 407: 2.511627906976744,
 408: 4.491071428571429,
 409: 3.142857142857143,
 410: 3.1296296296296298,
 411: 2.914110429447853,
 412: 2.3978494623655915,
 413: 2.6363636363636362,
 414: 3.532258064516129,
 415: 2.84,
 416: 3.484375,
 417: 3.095890410958904,
 418: 3.5813953488372094,
 419: 3.7247191011235956,
 420: 3.6666666666666665,
 421: 3.5943396226415096,
 422: 2.8461538461538463,
 423: 3.8333333333333335,
 424: 1.3157894736842106,
 425: 3.7411764705882353,
 426: 2.84375,
 427: 4.292237442922374,
 428: 3.8181818181818183,
 429: 3.9381443298969074,
 430: 4.0,
 431: 3.5359477124183005,
 432: 3.7701149425287355,
 433: 3.690058479532164,
 434: 3.8358208955223883,
 435: 3.949074074074074,
 436: 3.5353535353535355,
 437: 1.0,
 438: 1.1666666666666667,
 439: 1.0,
 440: 1.6428571428571428,
 441: 2.5660377358490565,
 442: 1.25,
 443: 3.808641975308642,
 444: 2.717391304347826,
 445: 3.5,
 446: 2.4444444444444446,
 447: 3.5041322314049586,
 448: 3.388235294117647,
 449: 3.034188034188034,
 450: 2.3968253968253967,
 451: 3.347058823529412,
 452: 2.6666666666666665,
 453: 1.9375,
 454: 2.875,
 455: 3.2551724137931033,
 456: 2.3125,
 457: 1.7407407407407407,
 458: 3.1222222222222222,
 459: 3.75,
 460: 3.0,
 461: 3.6216216216216215,
 462: 3.804054054054054,
 463: 3.859154929577465,
 464: 3.5925925925925926,
 465: 3.5647058823529414,
 466: 3.5961538461538463,
 467: 3.7916666666666665,
 468: 3.3125,
 469: 3.7761194029850746,
 470: 3.6666666666666665,
 471: 3.6108597285067874,
 472: 3.0822784810126582,
 473: 3.126984126984127,
 474: 4.252577319587629,
 475: 3.884,
 476: 3.01875,
 477: 3.210526315789474,
 478: 4.115384615384615,
 479: 4.251396648044692,
 480: 4.284916201117318,
 481: 3.9365079365079363,
 482: 3.984375,
 483: 4.45679012345679,
 484: 4.2101449275362315,
 485: 3.816,
 486: 3.796875,
 487: 4.102941176470588,
 488: 4.2,
 489: 4.115384615384615,
 490: 4.02,
 491: 3.791044776119403,
 492: 3.864406779661017,
 493: 4.15,
 494: 4.0,
 495: 3.6610169491525424,
 496: 4.121212121212121,
 497: 3.838235294117647,
 498: 4.184210526315789,
 499: 3.9516129032258065,
 500: 3.903225806451613,
 501: 3.4959349593495936,
 502: 3.7017543859649122,
 503: 3.641025641025641,
 504: 3.819672131147541,
 505: 4.0,
 506: 3.8555555555555556,
 507: 3.816326530612245,
 508: 3.5953488372093023,
 509: 3.8512396694214877,
 510: 3.9421487603305785,
 511: 4.23121387283237,
 512: 4.0,
 513: 4.333333333333333,
 514: 3.911111111111111,
 515: 4.203980099502488,
 516: 3.9682539682539684,
 517: 3.769230769230769,
 518: 3.651685393258427,
 519: 4.1,
 520: 4.104838709677419,
 521: 3.8333333333333335,
 522: 3.7714285714285714,
 523: 3.9939024390243905,
 524: 4.021739130434782,
 525: 4.027397260273973,
 526: 3.8306451612903225,
 527: 4.02051282051282,
 528: 4.132231404958677,
 529: 3.978494623655914,
 530: 4.025,
 531: 3.9224806201550386,
 532: 3.3181818181818183,
 533: 3.6666666666666665,
 534: 3.3076923076923075,
 535: 3.1666666666666665,
 536: 3.3,
 537: 3.6333333333333333,
 538: 3.4242424242424243,
 539: 2.477272727272727,
 540: 2.511627906976744,
 541: 2.877551020408163,
 542: 2.5294117647058822,
 543: 3.619047619047619,
 544: 3.1549295774647885,
 545: 1.8333333333333333,
 546: 3.031496062992126,
 547: 3.341463414634146,
 548: 2.1666666666666665,
 549: 3.5652173913043477,
 550: 3.2847682119205297,
 551: 2.4166666666666665,
 552: 2.8666666666666667,
 553: 3.2857142857142856,
 554: 2.803921568627451,
 555: 2.0,
 556: 2.5,
 557: 3.1176470588235294,
 558: 3.6714285714285713,
 559: 3.1824817518248176,
 560: 2.727272727272727,
 561: 3.0677966101694913,
 562: 3.2083333333333335,
 563: 2.413793103448276,
 564: 2.037037037037037,
 565: 2.6818181818181817,
 566: 3.569832402234637,
 567: 2.8,
 568: 3.6478260869565218,
 569: 2.701492537313433,
 570: 3.1,
 571: 2.5,
 572: 2.7586206896551726,
 573: 2.9393939393939394,
 574: 2.2,
 575: 2.5454545454545454,
 576: 3.021505376344086,
 577: 2.2195121951219514,
 578: 3.152173913043478,
 579: 2.6315789473684212,
 580: 3.375,
 581: 3.2203389830508473,
 582: 3.6011904761904763,
 583: 3.0,
 584: 3.5443037974683542,
 585: 2.4871794871794872,
 586: 2.676470588235294,
 587: 3.5714285714285716,
 588: 3.792079207920792,
 589: 4.023255813953488,
 590: 2.0,
 591: 3.601123595505618,
 592: 3.3333333333333335,
 593: 3.1666666666666665,
 594: 2.4,
 595: 3.09375,
 596: 3.377952755905512,
 597: 3.150485436893204,
 598: 2.25,
 599: 1.0,
 600: 3.0,
 601: 4.0,
 602: 3.7,
 603: 4.3875598086124405,
 604: 4.012345679012346,
 605: 3.3548387096774195,
 606: 4.045454545454546,
 607: 3.9696969696969697,
 608: 3.933333333333333,
 609: 3.5833333333333335,
 610: 3.658536585365854,
 611: 4.1,
 612: 3.9411764705882355,
 613: 4.037037037037037,
 614: 3.7450980392156863,
 615: 4.0508474576271185,
 616: 3.421875,
 617: 3.7777777777777777,
 618: 3.611111111111111,
 619: 3.171875,
 620: 3.0930232558139537,
 621: 2.909090909090909,
 622: 3.358974358974359,
 623: 2.923076923076923,
 624: 3.272727272727273,
 625: 3.3292682926829267,
 626: 3.25,
 627: 3.2266666666666666,
 628: 3.514792899408284,
 629: 3.3376623376623376,
 630: 3.2903225806451615,
 631: 3.6218487394957983,
 632: 3.896551724137931,
 633: 4.057971014492754,
 634: 3.75,
 635: 2.739130434782609,
 636: 3.241758241758242,
 637: 3.026315789473684,
 638: 3.772727272727273,
 639: 3.7,
 640: 3.024390243902439,
 641: 4.212121212121212,
 642: 3.4831460674157304,
 643: 3.0,
 644: 3.7714285714285714,
 645: 3.814814814814815,
 646: 3.8684210526315788,
 647: 4.1,
 648: 4.029850746268656,
 649: 3.4,
 650: 3.5416666666666665,
 651: 4.076023391812866,
 652: 3.888888888888889,
 653: 3.911764705882353,
 654: 4.136054421768708,
 655: 3.881057268722467,
 656: 4.0,
 657: 4.259541984732825,
 658: 3.4177215189873418,
 659: 4.078260869565217,
 660: 3.764705882352941,
 661: 4.1022727272727275,
 662: 3.426829268292683,
 663: 3.9051724137931036,
 664: 3.5434782608695654,
 665: 2.83,
 666: 2.4,
 667: 2.1666666666666665,
 668: 2.1666666666666665,
 669: 1.6153846153846154,
 670: 3.0,
 671: 3.608695652173913,
 672: 2.723076923076923,
 673: 3.5232558139534884,
 674: 2.8958333333333335,
 675: 3.5555555555555554,
 676: 3.3376623376623376,
 677: 3.0,
 678: 2.808219178082192,
 679: 3.046728971962617,
 680: 2.5588235294117645,
 681: 2.4444444444444446,
 682: 3.06,
 683: 2.4081632653061225,
 684: 3.7928994082840237,
 685: 3.356687898089172,
 686: 3.68,
 687: 2.1884057971014492,
 688: 1.8409090909090908,
 689: 3.1494252873563218,
 690: 3.458064516129032,
 691: 3.5,
 692: 3.6280487804878048,
 693: 3.6483516483516483,
 694: 4.045454545454546,
 695: 2.923076923076923,
 696: 3.1392405063291138,
 697: 3.425,
 698: 3.0,
 699: 3.676470588235294,
 700: 2.6,
 701: 4.0,
 702: 3.018867924528302,
 703: 3.5789473684210527,
 704: 3.0416666666666665,
 705: 3.9927007299270074,
 706: 2.6666666666666665,
 707: 3.9285714285714284,
 708: 3.4752475247524752,
 709: 4.028846153846154,
 710: 3.569620253164557,
 711: 4.0,
 712: 3.0784313725490198,
 713: 3.611111111111111,
 714: 3.230769230769231,
 715: 3.2758620689655173,
 716: 3.1551724137931036,
 717: 2.817073170731707,
 718: 3.6875,
 719: 2.413793103448276,
 720: 3.0232558139534884,
 721: 3.4444444444444446,
 722: 2.9310344827586206,
 723: 3.1470588235294117,
 724: 3.486842105263158,
 725: 2.75,
 726: 2.4285714285714284,
 727: 3.4603174603174605,
 728: 3.022222222222222,
 729: 3.4814814814814814,
 730: 3.5,
 731: 3.1538461538461537,
 732: 3.65,
 733: 3.2,
 734: 2.5185185185185186,
 735: 3.854014598540146,
 736: 3.9358974358974357,
 737: 2.983050847457627,
 738: 2.838709677419355,
 739: 3.323170731707317,
 740: 3.4761904761904763,
 741: 3.4482758620689653,
 742: 3.644194756554307,
 743: 1.9487179487179487,
 744: 3.4565217391304346,
 745: 3.875,
 746: 3.6638655462184873,
 747: 3.4607843137254903,
 748: 3.1234177215189876,
 749: 3.176470588235294,
 750: 3.8548387096774195,
 751: 3.4277777777777776,
 752: 3.3076923076923075,
 753: 3.7083333333333335,
 754: 3.3859649122807016,
 755: 3.3125,
 756: 2.8984375,
 757: 2.75,
 758: 1.7142857142857142,
 759: 2.1818181818181817,
 760: 2.652173913043478,
 761: 3.0454545454545454,
 762: 3.391304347826087,
 763: 3.389261744966443,
 764: 2.7586206896551726,
 765: 2.8125,
 766: 3.111111111111111,
 767: 2.1818181818181817,
 768: 3.076923076923077,
 769: 2.4523809523809526,
 770: 3.3859649122807016,
 771: 2.6341463414634148,
 772: 3.061224489795918,
 773: 2.9411764705882355,
 774: 2.9375,
 775: 2.769230769230769,
 776: 3.2222222222222223,
 777: 1.25,
 778: 3.5526315789473686,
 779: 2.5483870967741935,
 780: 3.0,
 781: 3.3333333333333335,
 782: 2.6,
 783: 2.72972972972973,
 784: 1.0,
 785: 3.1538461538461537,
 786: 2.642857142857143,
 787: 3.230769230769231,
 788: 1.6666666666666667,
 789: 3.574468085106383,
 790: 2.909090909090909,
 791: 2.5,
 792: 3.7209302325581395,
 793: 3.5,
 794: 3.652173913043478,
 795: 2.4285714285714284,
 796: 3.0833333333333335,
 797: 3.096774193548387,
 798: 2.2222222222222223,
 799: 3.2,
 800: 2.8846153846153846,
 801: 2.8125,
 802: 2.7,
 803: 2.5555555555555554,
 804: 2.875,
 805: 3.6296296296296298,
 806: 3.46,
 807: 2.7777777777777777,
 808: 2.838709677419355,
 809: 2.9069767441860463,
 810: 2.888888888888889,
 811: 3.9444444444444446,
 812: 3.111111111111111,
 813: 3.892857142857143,
 814: 5.0,
 815: 3.232142857142857,
 816: 2.4285714285714284,
 817: 2.6666666666666665,
 818: 2.76,
 819: 2.7,
 820: 2.774193548387097,
 821: 3.0454545454545454,
 822: 3.0,
 823: 2.8780487804878048,
 824: 2.7551020408163267,
 825: 3.036144578313253,
 826: 2.575,
 827: 2.7719298245614037,
 828: 2.6923076923076925,
 829: 2.6470588235294117,
 830: 1.0,
 831: 2.4615384615384617,
 832: 2.5454545454545454,
 833: 3.204081632653061,
 834: 2.2,
 835: 3.8666666666666667,
 836: 3.769230769230769,
 837: 3.92,
 838: 2.75,
 839: 2.5,
 840: 2.660377358490566,
 841: 2.75,
 842: 3.1481481481481484,
 843: 3.0,
 844: 3.357142857142857,
 845: 3.465909090909091,
 846: 3.0681818181818183,
 847: 3.727272727272727,
 848: 3.5555555555555554,
 849: 2.7169811320754715,
 850: 4.0,
 851: 3.75,
 852: 1.0,
 853: 3.857142857142857,
 854: 3.375,
 855: 3.727272727272727,
 856: 3.8333333333333335,
 857: 3.0,
 858: 1.0,
 859: 2.6666666666666665,
 860: 2.25,
 861: 2.3333333333333335,
 862: 2.111111111111111,
 863: 3.9166666666666665,
 864: 3.1627906976744184,
 865: 3.4761904761904763,
 866: 3.319327731092437,
 867: 4.0,
 868: 3.8,
 869: 3.0,
 870: 2.7777777777777777,
 871: 2.4,
 872: 3.0952380952380953,
 873: 2.962962962962963,
 874: 3.2564102564102564,
 875: 2.7358490566037736,

In [44]:
new_df = pd.DataFrame({'item_id': list(new_item.keys()), 'mean': list(new_item.values())})

In [45]:
new_df

      item_id      mean
0           1  3.878319
1           2  3.206107
2           3  3.033333
3           4  3.550239
4           5  3.302326
...       ...       ...
1677     1678  1.000000
1678     1679  3.000000
1679     1680  2.000000
1680     1681  3.000000
1681     1682  3.000000

[1682 rows x 2 columns]

In [52]:
new_df.to_csv('123',index=False)

In [49]:
df.head()

   user_id  item_id  rating         title
0      196      242       3  Kolya (1996)
1       63      242       3  Kolya (1996)
2      226      242       5  Kolya (1996)
3      154      242       3  Kolya (1996)
4      306      242       5  Kolya (1996)

In [51]:
new_dataset.to_csv('movies',index=False)